/* Define variables for colors and fonts */
:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}

/* Global styles */
body {
  font-family: var(--sans);
  background-color: var(--plum);
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--hotmag);
}

/* Header styles */
.Header a {
  color: var(--dkblue);
  text-decoration: none;
}

.Header a:hover {
  color: var(--dkblue);
}

/* Root container styles */
#root {
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Keyframe animation */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Logo animation */
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--hotmag);
  font: var(--mono);
}

/* Article and comment card styles */
.article-card,
.comment-card {
  margin: 70px auto;
  border: 3px solid var(--hotmag);
  box-shadow: 4px 4px 5px rgba(186, 185, 185, 0.05);
  padding: 10px;
  max-width: 500px;
  border-radius: 4px;
  background-color: var(--dkblue);
  color: white;
}

/* Link styles */
a {
  color: var(--black);
  text-decoration: none;
}

/* Navigation bar styles */
.NavBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 60px;
  gap: 10px;
  padding: 1rem;
  
  top: 0;
  z-index: 100;
}

.NavBar ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.NavBar li {
  list-style-type: none;
  margin-right: 30px;
  padding: 12px;
}

.NavBar a {
  text-decoration: none;
  font-weight: bold;
  font-size: var(--font-size);
  transition: color 0.3s ease;
  color: var(--black);
  background-color: var(--aqua);
  padding: 8px;
  border-radius: 10px;
}

.NavBar a:hover {
  background-color: var(--hotmag);
  color: var(--white);
}

.NavBar a.home {
  background-color: var(--hotmag);
}

/* Gradient separator */
.gradient {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 23, 228, 1) 0%,
    rgba(134, 251, 251, 1) 100%
  );
  height: 2px;
  margin: 5px;
}

/* Button styles */
.button {
  color: var(--plum);
}

/* Hover effect on links with class 'link' inside ul */
ul .link {
  color: var(--hotmag);
}

/* Additional button styles or other specific elements can be added here */
.button {
  background-color: var(--magenta);
  color: var(black);
}

select {
  background-color: var(--hotmag);
  color: var(--plum);
  font-size: 1.4em;
  font: var(--mono);
  font-weight: bold;
}

/* Base styles for larger screens */
.some-element {
  width: 100%;
  /* other styles */
}

.comments {
  color: var(--hotmag);
  font-size: 1em;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .body {
    width: 100%; /* Change to full width on smaller screens */
    /* other styles */
  }
}

@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }

  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }

  .home .button {
    background-color: var(--hotmag);
  }

  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  .modal {
    padding: 30px;
    max-width: 480px;
    margin: 200px auto;
    background: var(--dkblue);
    border-radius: 10px;
  }
}
